

  <!-- Main Content -->
  <div class="container mx-auto mt-4 text-center text-indigo-400 hover:text-violet-400">
    <h1>Welcome to the CLIPZZ APP.</h1>
    <h2>Creator : <a class="text-indigo-300 font-bold hover:text-lg hover:text-blue-400" href="https://instagram.com/_yash.verma__">Yash Verma</a></h2>
    <h2>Deployed On : September 07, 2022</h2>
    <br>
    <br>
    <p>
      This is an app which allows users to upload their gaming clips and share it with the world!
       It makes it easy for the users to interact with new audience from the same community and share their 
       achievements. So what are you waiting for? Sign up now and share your clipzz with the world !
    </p>
  </div>
  
    
  
  
